{% extends "base.html" %}

{%load static%}

{% block title %}Nomad | Discover Remote jobs like never before{% endblock title %}
{% block content %}

<section class="w-100 bg-danger text-white">
    <div class="row">
        <div class="col-md-7 text-center d-flex justify-content-center flex-column">
            <p class="h3 p-2">
                NOMAD
            </p>
            <p class="">
                Nomad is the largest remote work community in the world. With over 2.5M monthly visitors, Nomad is the
                #1 destination to find and list incredible remote jobs.
            </p>
        </div>
        <div class="col-md-5 d-flex flex-column justif-content-center align-items-center">
            <img src="{% static 'assets/image1.png' %}" alt="remote_working" class="img-fluid" width="500px">
        </div>
    </div>
</section>

<section class="d-flex justify-content-center align-items-center">
    <div class="container push-up">
        <form class="input-group mb-3">
            <input type="text" class="form-control w-50 shadow" placeholder="Search Remote Jobs"
                aria-label="Search Remote Jobs" aria-describedby="search-btn">
            <div class="input-group-append">
                <button class="btn btn-dark" type="button" id="button-addon2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
</section>

<section class="pt-4 mt-2">
    <div class="container">
        <h3 class="h3"> Latest Remote Jobs</h3>
    </div>
</section>

{%endblock content%}