*{
    box-sizing: border-box;
    overflow-x: hidden;
}
body 
{
    margin: 0;
    padding:0;
}

.shadow
{
    -webkit-box-shadow: -2px 2px 17px 9px #9B9B9B!important; 
box-shadow: -2px 2px 17px 9px #9B9B9B!important;
}

.push-up
{
    position: absolute;
    width: 50%!important;
}


@media(max-width: 600px){
    .push-up{
        width: 80%!important;
    }
}