<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">NO<span class="text-danger">MAD</span> </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="ml-auto navbar-nav">
                    <li class="mr-2 text-white nav-item">
                        <a class="nav-link font-weight-lighter btn btn-default" href="#"> Register
                        </a>
                    </li>

                    <li class="mr-2 text-white nav-item">
                        <a class="nav-link font-weight-lighter btn btn-default" href="#"> Login </a>
                    </li>
                    <li class="mr-2 text-white nav-item shadow">
                        <a class="nav-link font-weight-lighter btn btn-default btn-danger text-white" href="#">
                            Post a Job
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <ul class="messages list-group  m-3 " role="alert">
        {% for message in messages %}
        <li{% if message.tags %} class="alert {{ message.tags }}" {% endif %}>{{ message }}</li>

            {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <!-- Footer -->
    <footer class="py-3 bg-grey">
        <p class="m-0 text-center text-dark ">Copyright &copy; Houdini</p>
    </footer>
</body>

</html>